

.buttonRightPosition{
    float: right;
}

.buttonIcon{
    filter: invert();
    border-style: solid;
    border-radius: 0.2rem;
    border-width: 0.01rem;
    border-color: black;
    width: 1.2rem;
    height: 1.2rem;
    padding: 0.05rem;
}

.homeNoteList{
    cursor: pointer;
}

.addNoteButton{
    margin-right: 1%;
}

#activeNoteTextArea{
    background-color: #63AEEB
}

#activeNoteContent{
    position: relative;
    height: auto;
    min-height: 25rem;
}

.card-body{
    height: auto;
}

.editor{
    color: black;
    position: relative;
    height: auto;
}

.ck-content{
    min-height: 24rem;
}

.ck-editor__editable_inline {
    position: relative;
}

.ddVisualize{
    position: relative;
    z-index: 10000;
    margin-bottom: 0.2rem;
}